version: "3.8"

services:
  autopve:
    image: ghcr.io/natankeddem/autopve:latest
    ports:
      - 8080:8080
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - data:/app/data
      - logs:/app/logs
    environment:
      - PUID=1000
      - PGID=1000
      - VERBOSE_LOGGING=TRUE # Optional
volumes:
  data:
  logs: